.paginationContainer {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: space-between;
  gap: calc(var(--spacing) * 2);

  @media (width >= 40rem /* 640px */) {
    flex-direction: row;
  }
}

.paginationButtons {
  display: flex;
  align-items: center;
  gap: calc(var(--spacing) * 2);
}
