.main {
  display: flex;
  flex-direction: column;
  gap: calc(var(--spacing) * 8);

  max-width: var(--container-5xl);
  min-height: 100vh;
  margin-inline: auto;
  padding: calc(var(--spacing) * 8);

  container-type: inline-size;
  container-name: main;
}

.stack {
  display: flex;
  flex-wrap: wrap;

  @media (max-width: 768px) {
    flex-direction: column !important;
  }
}
