.main {
  display: flex;
  flex-direction: column;
  gap: calc(var(--spacing) * 8);
  flex: 1;

  width: 100%;
  max-width: var(--container-5xl);
  margin-inline: auto;
  padding: calc(var(--spacing) * 8);

  container-type: inline-size;
  container-name: main;
}

.stack {
  display: flex;
  flex-wrap: wrap;
}
