.card {
  display: flex;
  flex-direction: column;
  gap: calc(var(--spacing) * 6);

  background-color: var(--card);
  color: var(--card-foreground);
  border: 1px solid var(--border);
  border-radius: calc(var(--radius));
  box-shadow: var(--shadow-sm);
  padding-block: calc(var(--spacing) * 6);
}

.cardHeader {
  container-type: inline-size;
  container-name: card-header;

  display: grid;
  align-items: flex-start;
  gap: calc(var(--spacing) * 1.5);
  grid-auto-rows: min-content;
  grid-template-rows: auto auto;
  padding-inline: calc(var(--spacing) * 6);

  &:has(*[data-slot="card-action"]) {
    grid-template-columns: 1fr auto;
  }
}

.cardTitle {
  font-weight: var(--font-weight-semibold);
  line-height: 1;
}

.cardDescription {
  color: var(--muted-foreground);
  font-size: var(--text-sm);
  line-height: var(--text-sm--line-height);
}

.cardAction {
  grid-column-start: 2;
  grid-row: span 2 / span 2;
  grid-row-start: 1;
  align-self: flex-start;
  justify-self: flex-end;
}

.cardContent {
  padding-inline: calc(var(--spacing) * 6);
}

.cardFooter {
  display: flex;
  align-items: center;
  padding-inline: calc(var(--spacing) * 6);
}
